<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666492974581-msi7ub1knb6hr4obc69co6oo1m185bsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666492974581-msi7ub1knb6hr4obc69co6oo1m185bsg</string>
	<key>API_KEY</key>
	<string>AIzaSyCorsI6DvWptOKDcqZUrWY08hDqNxb0-vs</string>
	<key>GCM_SENDER_ID</key>
	<string>666492974581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robinminadeo.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-23712</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-23712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666492974581:ios:82a18905fb1827ea765cbc</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-23712.firebaseio.com</string>
</dict>
</plist>